<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link href="/styles/footer.css" rel="stylesheet">
    </head>
    <body>
        <footer>
            <div class="footer-content">
                <p>© 2026 Pokemon. All rights reserved.</p>
                <p>Built with HTML, CSS and JS.</p>
            </div>
        </footer>
    </body>
</html>