<header class="app-header">
    <nav class="navbar">
        <div class="nav-left">
            <a href="/home">
                <img class="top-bar-img" src="/images/pokemon_logo.png" alt="Pokemon Logo">
            </a>
            <span class="app-title">The Pokémon App</span>
        </div>

        <div class="nav-right">
            <a class="nav-link" href="https://pokeapi.co/" target="_blank">
                Support
            </a>

            <button id="logout-btn" class="logout-btn">
                Logout
            </button>
        </div>
    </nav>
</header>