* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#log-in-body {
    background-color: #12607d;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-container {
    width: 35%;
    height: 100%;

    margin-top: 120px;
    padding: 15px;

    background-color: white;

    box-shadow: 5px 10px 0px;
    border-radius: 20px;

    display: block;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-img {
    width:500px;
    height:auto;

    margin-top: 140px;
    margin-bottom: 70px;
}

.log-in-text-input-container {
    width: 100%;
    height: 50px;

    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-text-input {
    width: 350px;
    height: 50px;

    padding: 15px;

    font-size: 14px;

    border: none;
    border-radius: 50px;
    border-color: white;

    background-color: whitesmoke;
}

.log-in-text-input:focus {
    outline-color: transparent;
}

.log-in-button-container {
    width: 100%;
    height: fit-content;

    margin-top: 40px;
    margin-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in-button {
    width: 200px;
    height: 40px;

    border: none;
    border-radius: 40px;

    background-color: whitesmoke;
}

#log-in-button:hover {
    background-color: rgb(202, 202, 202);
}

#home-body {
    width:100%;
    height:100%;

    background-color: white;
    
    display: block;
}

.home-top-bar {
    width: 100%;
    height: 80px;

    padding: 20px;

    border-bottom: 1px solid black;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-img {
    height: 50px;
}

.home-projects {
    padding: 20px;
}

.projects-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.projects-overall {
    margin-top: 30px;
    margin-bottom: 40px;

    gap: 15px;

    display: flex;
}

.stat-card {
    width: 200px;
    height: 100px;

    padding: 15px;

    border: 2px solid rgb(149, 148, 148);
    border-radius: 10px;

    background-color: whitesmoke;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
}

.card-titles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}