<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Pokemon App - Log In</title>

        <link href="/styles/index.css" rel="stylesheet">
        <link rel="icon" href="/images/pokeball.png">

        <script src="/scripts/index.js" type="module"></script>
    </head>
    <body id="index-body">
        <main>
            <div id="background-darken">
                <!-- Contenedor Login -->
                <div id="log-in-container">

                    <!-- Login Titulo -->
                    <div class="title-container">
                        <img class="logo-img" src="../images/pokemon_logo.png">
                    </div>
                    <div style="width: 100%; padding-left: 2rem; margin-bottom: 1.25rem; font-family: 'sans-serif'; font-weight: 700;">
                        <p>Inicio de sesión</p> 
                    </div>

                    <!-- Mensaje de Error -->
                    <div id="log-in-error" style="color: red; padding-left: 2rem; min-height: 1.2em; margin-bottom: 0.625rem; visibility: hidden;">
                    </div>

                    <!-- Login Formulario -->
                    <form id="log-in-form">
                        <div class="log-in-text-input-container">
                            <div class="input-wrapper">
                                <input type="text" name="username" class="log-in-text-input" placeholder="Usuario">
                            </div>
                            
                        </div>
                        <div class="log-in-text-input-container" style="position: relative;">
                            <div class="input-wrapper">
                                <input type="password" name="password" class="log-in-text-input" id="log-in-password" placeholder="Contraseña">
                                <button type="button" class="password-eye-icon" id="eye-icon-1" style="position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%);">
                                    <span>&#128065;</span>
                                </button>
                            </div>
                            
                        </div>
                        <div class="log-in-button-container" style="margin-top: 1rem;">
                            <button type="submit" id="log-in-button" style="padding: 0.5rem 1rem;">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>

                    <div style="display: flex; justify-content: center; margin-top: 0.75rem;">
                        <button id="to-register-button">
                            ¿No tienes cuenta? ¡Registrate aqui!
                        </button>
                    </div>
                </div>       
                <!-- Contenedor Registro -->
                <div id="register-container">

                    <!-- Registro Titulo -->
                    <div class="title-container">
                        <img class="logo-img" src="../images/pokemon_logo.png">
                    </div>
                    <div style="width: 100%; padding-left: 2rem; margin-bottom: 1.25rem; font-family: 'sans-serif'; font-weight: 700;">
                        <p>Registro de cuenta</p>
                    </div>

                    <!-- Mensaje de Error -->
                    <div id="register-error" style="color: red; padding-left: 2rem; min-height: 1.2em; margin-bottom: 0.625rem; visibility: hidden;">
                    </div>
                    
                    <!-- Registro Formulario -->
                    <form id="register-form">
                        <div class="register-text-input-container">
                            <div class="input-wrapper">
                                <input type="text" name="username" class="register-text-input" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="register-text-input-container" style="position: relative;">
                            <div class="input-wrapper">
                                <input type="password" name="password" class="register-text-input" id="register-password" placeholder="Contraseña">
                                <button type="button" class="password-eye-icon" id="eye-icon-2" style="position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%);">
                                    <span>&#128065;</span>
                                </button>
                            </div>
                        </div>
                        <div class="register-text-input-container" style="position: relative;">
                            <div class="input-wrapper">
                                <input type="password" name="passwordconfirm" class="register-text-input" id="register-confirm-password" placeholder="Confirmar Contraseña">
                                <button type="button" class="password-eye-icon" id="eye-icon-3" style="position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%);">
                                    <span>&#128065;</span>
                                </button>
                            </div>
                        </div>
                        <div class="register-button-container" style="margin-top: 1rem;">
                            <button type="submit" id="register-button" style="padding: 0.5rem 1rem;">
                                Registrarse
                            </button>
                        </div>
                    </form>

                    <div style="display: flex; justify-content: center; margin-top: 0.75rem;">
                        <button id="to-login-button">
                            ¿Ya tienes cuenta? ¡Inicia sesión aqui!
                        </button>
                    </div>

                </div>
            </div>
        </main>
    </body>
</html>
