<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>The Pokemon App - Home</title>

        <link href="/styles/project.css" rel="stylesheet">
        <link href="/styles/global.css" rel="stylesheet">
        <link rel="icon" href="/images/logo.png">

        <script src="/scripts/project.js" type="module"></script>
    </head>
    <body id="project-body">
        <%- include('../partials/header') %>
        <main>

        </main>
        <%- include('../partials/footer') %>
    </body>
</html>