footer {
    width: 100%;
    height: 100px;
    
    padding: 20px 0;
    margin-top: 20px;

    background-color: #1b1b1b;
    color: #fff;

    text-align: center;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0.9rem;
    opacity: 0.8;
}