nav {
    width: 100%;
    height: 80px;

    padding: 20px;

    border-bottom: 1px solid black;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-bar-img {
    height: 50px;
}
