* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home */
#home-body {
    width:100%;
    height:100%;

    background-color: white;
    
    display: block;
}

.home-top-bar {
    width: 100%;
    height: 80px;

    padding: 20px;

    border-bottom: 1px solid black;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-img {
    height: 50px;
}

.home-projects {
    padding: 20px;
}

.projects-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.projects-overall {
    margin-top: 30px;
    margin-bottom: 40px;

    gap: 15px;

    display: flex;
}

.stat-card {
    width: 200px;
    height: 100px;

    padding: 15px;

    border: 2px solid rgb(149, 148, 148);
    border-radius: 10px;

    background-color: whitesmoke;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
}

.card-titles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}