* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#log-in-body {
    background-image: url("../images/log_in_background.avif");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-img {
    width:350px;
    height:auto;

    margin-top: 100px;
    margin-bottom: 30px;
}

/* Log-In */
#log-in-container {
    width: 25%;
    height: 55%;

    margin-top: 50px;
    padding: 15px;

    background-color: rgba(222, 222, 222, 0.95);
    border-radius: 20px;

    display: block;
}

.log-in-text-input-container {
    width: 100%;
    height: 50px;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-text-input {
    width: 350px;
    height: 50px;

    padding: 15px;

    font-size: 14px;

    border: none;
    border-radius: 50px;
    border-color: white;

    background-color: whitesmoke;
    outline: 2px solid transparent;
}

.log-in-text-input:focus {
    outline-color: rgba(227, 25, 55, 1.0);
    box-shadow: 0 0 0 0;
}

.log-in-button-container {
    width: 100%;
    height: fit-content;

    margin-top: 30px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in-button {
    width: 200px;
    height: 50px;

    border: none;
    border-radius: 40px;

    background-color: rgba(227, 25, 55, 1.0);

    font-family: sans-serif;
    color: white;
    font-weight: 700;
}

#log-in-button:hover {
    background-color: rgb(172, 19, 41);
}

#to-register-button {
    background-color: transparent;
    border: none;

    text-decoration: underline;
    color: blue;
}

#to-register-button:hover {
    color: rgb(0, 0, 182);
}

/* Register */
#register-container {
    width: 25%;
    height: 62%;

    margin-top: 30px;
    padding: 15px;

    background-color: rgba(222, 222, 222, 0.95);
    border-radius: 20px;

    display: none;
}

.register-text-input-container {
    width: 100%;
    height: 50px;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-text-input {
    width: 350px;
    height: 50px;

    padding: 15px;

    font-size: 14px;

    border: none;
    border-radius: 50px;
    border-color: white;

    background-color: whitesmoke;
    outline: 2px solid transparent;
}

.register-text-input:focus {
    outline-color: rgba(227, 25, 55, 1.0);
    box-shadow: 0 0 0 0;
}

.register-button-container {
    width: 100%;
    height: fit-content;

    margin-top: 30px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#register-button {
    width: 200px;
    height: 50px;

    border: none;
    border-radius: 40px;

    background-color: rgba(227, 25, 55, 1.0);

    font-family: sans-serif;
    color: white;
    font-weight: 700;
}

#register-button:hover {
    background-color: rgb(172, 19, 41);
}

#to-login-button {
    background-color: transparent;
    border: none;

    text-decoration: underline;
    color: blue;
}

#to-login-button:hover {
    color: rgb(0, 0, 182);
}