* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#index-body {
    background-image: url("../images/pokemon_background.avif");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

#background-darken {
    width: 100%;
    height: 100%;
    
    top: 0;

    background-color: rgba(0, 0, 0, 0.47);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;

    z-index: 1;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 21.875rem;
    height: auto;

    margin-top: 0.25rem;
    margin-bottom: 0rem;
}

.log-in-text-input-container,
.register-text-input-container {
    width: 100%;
    height: 3.125rem;

    margin-top: 0.625rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.log-in-text-input,
.register-text-input {
    width: 100%;
    height: 3.125rem;

    padding: 0.9375rem 2.5rem 0.9375rem 0.9375rem;

    font-size: 0.875rem;

    border: none;
    border-radius: 3.125rem;

    background-color: whitesmoke;
    outline: 2px solid transparent;

    position: relative;
}

.log-in-text-input:focus,
.register-text-input:focus {
    outline-color: rgb(43, 86, 149);
    box-shadow: 0 0 0 0;
}

.password-eye-icon {
    position: absolute;
    right: calc(7.5% + 0.5rem);
    top: 50%;
    transform: translateY(-50%);

    width: 2.1875rem;
    height: 2.1875rem;
    
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    font-size: 1.2rem;
}

.password-eye-icon:hover {
    background-color: lightgray;
}

/* Log-In */
#log-in-container {
    width: 25%;
    height: 33.75rem;

    margin-top: 3.125rem;
    padding: 0.9375rem;

    background-color: rgba(222, 222, 222, 0.95);
    border-radius: 1.25rem;

    display: block;

    z-index: 10;
}

.log-in-button-container {
    width: 100%;
    height: fit-content;

    margin-top: 1.875rem;
    margin-bottom: 0.625rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in-button {
    width: 12.5rem;
    height: 3.125rem;

    border: none;
    border-radius: 2.5rem;

    background-color: rgb(43, 86, 149);

    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

#log-in-button:hover {
    background-color: rgb(38, 75, 130);
}

#to-register-button {
    background-color: transparent;
    border: none;

    text-decoration: underline;
    color: blue;
}

#to-register-button:hover {
    color: rgb(0, 0, 182);
}


/* Register */
#register-container {
    width: 25%;
    height: 38.75rem;

    margin-top: 1.875rem;
    padding: 0.9375rem;

    background-color: rgba(222, 222, 222, 0.95);
    border-radius: 1.25rem;

    display: none;

    z-index: 10;
}

.register-button-container {
    width: 100%;
    height: fit-content;

    margin-top: 1.875rem;
    margin-bottom: 0.625rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#register-button {
    width: 12.5rem;
    height: 3.125rem;

    border: none;
    border-radius: 2.5rem;

    background-color: rgb(43, 86, 149);

    font-family: sans-serif;
    color: white;
    font-weight: 700;
}

#register-button:hover {
    background-color: rgb(38, 75, 130);
}

#to-login-button {
    background-color: transparent;
    border: none;

    text-decoration: underline;
    color: blue;
}

#to-login-button:hover {
    color: rgb(0, 0, 182);
}
